################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Application/bin/Debug/net6.0
/Application/obj
/Domain/obj
/Infra/bin/Debug/net6.0
/Infra/obj
/SoftDesign/.vs
/SoftDesign/bin/Debug/net6.0
/SoftDesign/obj
/Domain/bin/Debug/net6.0
*.user
